@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
    color: #333;
    font-size: 18px;
}

h2, h3, h4, h5, h6 {
    font-size: 25px;
    text-align: center;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.header__title {
    margin-bottom: 30px;
}

.header__items {
    padding: 0;
    list-style: none;
}

.header__items-list, a {
    display: inline;
    margin: 0 1rem;
    font-weight: 500;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
}

.header__items-list, a:hover {
    transition: 0.250s;
    color:rgba(0, 200, 255, 0.89);
}

.main {
    padding: 20px;
}

.main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.interpritator {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-radius: 25px;
}

.interpritator__text {
    margin: 0 150px;
}

.interpritator__p {
    text-align: center;
    padding-top: 5px;
}

.interpritator__sp {
    margin-top: -20px;
    font-style: italic;
    text-align: center;
    font-size: 14px;
}

.interpritator__sp-work {
    margin-top: 5px;
}

.interpritator__work-img {
    display: block;
    margin: 30px auto;
    width: 500px;
}

.interpritator__p-types-border {
    margin: 0 200px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.interpritator__p-subtitle {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    margin-bottom: 20px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    font-weight: 600;
    color: #969696;
    border-radius: 15px 15px 0 0;
}

.footer__h2 {
    font-size: 20px;
}

.footer__p {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}